<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Users</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
        integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/shards.min.css">
</head>

<body>
    <div th:switch="${opportunities}" class="container my-8">
        <div class="row">
            <div class="col-md-12">
                <h2 th:case="null">No Expenses yet!</h2>
                <div th:case="*">
                    <h2 class="my-5">Opportunities</h2>
                    <table class="table table-striped table-responsive-md">
                        <thead>
                            <tr>
                                <th class="col-sm-2">Opportunity Id</th>
                                <th class="col-sm-2">Account Name</th>
                                <th class="col-sm-2">Account Id</th>
                                <th class="col-sm-2">Stage Name </th>
                                <th class="col-sm-2">Amount</th>
                                <th class="col-sm-2">Close Date</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="opportunity : ${opportunities}">
                                <td th:text="${opportunity.id}"></td>
                                <td th:text="${opportunity.account.name}"></td>
                                <td th:text="${opportunity.accountId}"></td>
                                <td th:text="${opportunity.stageName}"></td>
                                <td th:text="${opportunity.amount}"></td>
                                <td th:text="${opportunity.closeDate}"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>      
                <p class="my-5"><a href="/add" class="btn btn-primary"><i class="fas fa-user-plus ml-2"></i></a></p>
            </div>
        </div>
    </div>
</body>

</html>